################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Real-Estate-Portal/v16/Browse.VC.db-shm
/.vs/Real-Estate-Portal/v16/Browse.VC.opendb
